extends ./partials/layout

block content
    h1 #{event.name}
        small.text-muted  ##{event.id}
    p
        strong Location:
        |  #{event.location} (#{event.address})
    p
        strong Time:
        |  #{timestampFormatter.format(event.startTime)} - #{timestampFormatter.format(event.startTime)}
    p
        strong Description:
        |  #{event.description}
    p
        strong Tickets available:
        |  #{event.ticketsAvailable}
    p
        strong Categories:
        for category in event.categories
            +category(category)
    p
        strong Created at:
        |  #{timestampFormatter.format(event.createdAt)}
    p
        strong Created by:
        |  #{event.createdBy}
    form(action="/events/" + event.id + "/end", method="POST")
        button(type="submit").btn.btn-danger End
